* {
    margin: 0;
    padding: 0;
  }
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

.navbar{
    display: flex;
  position: fixed;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 5px #0000001a;
    opacity: 1;
    z-index: 9999;
}

.stryker-logo {
    width: 120px;
  height: 30px;
  margin-top: 19px;
  margin-left: 30px;
  background: transparent url("../img/logo-stryker.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 90px;
}

.image-div {
    width: 250px;
  height: 480px;
  background: transparent url("../img/tower-img.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 350px;
  margin-top: 30px;
}

.topic-div {
    display: flex;
    justify-content: center;
    align-items: center;
}




.topics-div ul {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #212121;
    opacity: 0.4;
    text-align: left; 
  padding: 0; 
  margin: 0; 
}


.topics-div li {
    margin: 16px;
}

.info-content-container {
    display: flex;
    margin-top: 60px;
    width: 100%;
}

.info-container{
    position: fixed;
    width: 280px;
    height: 738px;
    background: #F7F7F7;
    box-shadow: 3px 0 10px 0px rgba(0, 0, 0, 0.4);
    z-index: 999;

}

.avatar-div {
    margin: 0 auto;
    margin-top: 16px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid #ffb600;;
    background: transparent url("../img/nurse.png") 100% 0% no-repeat;
    background-size: 170px;
}

.avatar-info-text {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    margin-top: 8px;
    font-style: italic;
    color: #212121;
    opacity: 0.5;
    text-align: center;
}

.content-container {
    margin-left: 280px;
    width: 100%;
  
}

.content-section {
   opacity: 0;
   max-height: 0px;
   transform: translateY(-100px);
}

.content-section.content-section-show {
    display: flex;
    max-width: 1160px;
    height: 500px;
    flex-direction: column;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.6s all ease-out 0.5s;
}


.content-section-title h1 {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    color: #2d363a;
}

.content-section-title {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 32px 16px 32px 16px;
    text-align: center;
    text-decoration: none;
    
}

.content-section-title p {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #000;
    opacity: 0.4;
}

.content-section-progress-bar-div {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 3px;
    background: #f7f7f7;

}

.test-btn {
    width: 50%;
    margin: auto;
    margin-top: 16px;
    text-align: center;
    padding: 8px 16px;
    background: #ffb600;
    border-radius: 5px;
    color: #2d363a;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    transition: 0.3s;
}

.test-btn:hover {
    cursor: pointer;
    width: 55.5%;
    background: #2d363a;
    color: #fff;
    transition: 0.3s;
}

.content-section-progress-bar {
    width: 0%;
    height: 3px;
    border-radius: 1px;
    background: #ffb600; 
    transition: 1s;
}

.content-next-btn-div {
    display: flex;
    margin-left: auto;
    margin-top: 16px;
}

.content-next-btn-text {
    margin-left: auto;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #000;
    opacity: 0.4;
    transition: 0.3s;
}

.content-next-btn-text:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;

}

.content-next-btn-img {
    width: 20px;
    height:20px;
    background: transparent url("../img/icon-arrow-right.svg") 0% 0% no-repeat;
    background-size: 20px;
    margin-top: -1px;
    margin-left: 8px;
    opacity: 0.4;
}

.content-next-btn-img:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}

.materials-div {
    display: none;
}

.materials-div.materials-div-show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.content-description.content-description-hide {
    display: none;
}

.content-text {
    min-width: 700px;
    width: auto;
    padding: 32px 32px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.content-list-dynamic-title {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #000;
    border-bottom: 3px solid #ffb600;
    padding-bottom: 8px;
}

.video-title {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #000;
    border-bottom: 3px solid #ffb600;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.complete-btn {
    width: 50%;
    margin: auto;
    margin-top: 16px;
    text-align: center;
    padding: 8px 16px;
    background: #ffb600;
    border-radius: 5px;
    color: #2d363a;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    transition: 0.3s;
}

.complete-btn:hover {
    cursor: pointer;
    width: 55.5%;
    background: #2d363a;
    color: #fff;
    transition: 0.3s;
    
}

.subtopic-complete-icon {
    margin-left: auto;
    margin-right: 8px;
    width: 20px;
    height:20px;
    background: transparent url("../img/checkmark-dark.png") 0% 0% no-repeat;
    background-size: 20px;
    opacity: 0.4;
}

.subtopic-complete-icon-complete {
    margin-left: auto;
    margin-right: 8px;
    width: 20px;
    height:20px;
    background: transparent url("../img/checkmark.png") 0% 0% no-repeat;
    background-size: 20px;
    opacity: 1;
}

.subtopic-row-div {
    display: flex;
    margin: 24px 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.subtopic-pdf-icon {
    width: 20px;
    height:30px;
    background: transparent url("../img/pdf.png") 0% 0% no-repeat;
    background-size: 20px;
    opacity: 0.4;
    transition: 0.3s;
}

.subtopic-pdf-icon:hover {
    cursor: pointer;
    transition: 0.3s;
    opacity: 1;
}

.subtopic-video-icon {
    width: 20px;
    height:20px;
    margin-top: 4px;
    margin-right: 16px;
    background: transparent url("../img/video-icon.png") 0% 0% no-repeat;
    background-size: 20px;
    opacity: 0.4;
    transition: 0.3s;
}

.subtopic-video-icon:hover {
   cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}


.subtopic-text{
    padding-top: 2px;
    margin-left: 24px;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #2d363a;
}


.content-description {
    max-width: 400px;
    /* padding: 8px 16px; */
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #000;
    opacity: 0.4;
}

.video-text-div h1{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
 }

 .video-text-div p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #0000008a;
    font-style: italic;
 }


.selection-container {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    height: 500px;

    
}

.selection-title-div {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

.selection-div {
    /* border-left: 5px solid #EAEEF2; */
    border-left: 5px solid #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 60px;
    overflow-y: hidden;
    margin: 3px 0;
    transition: max-height 0.4s ease-in-out, border-left 0.2s ease-out 0.4s;
    /* background: #EAEEF2; */
}

.selection-div.selection-div-selected{
    border-left: 5px solid #ffb600;
    background: #EAEEF2;
    height: auto;
    max-height: 1000px;
    overflow-y: hidden;
    transition: max-height 0.9s ease-in-out, border-left 0.3s ease 0.0s;
}


.selection-div-row{
    display: flex;
    transition: 0.3s;
}

.selection-div-row:hover {
    /* border-left: 5px solid #EAEEF2; */
    cursor: pointer;
    background: #EAEEF2;
    transition: 0.3s ease-in-out;
}

.menu-icon {
    width: 16px;
    height:16px;
    margin-top: 22px;
    margin-left: 16px;

}

.menu-bar-one {
    width: 13px;
    height: 2px;
    margin-bottom: 2px;
    background: #414141;
    opacity: 0.4;
    transition: 0.4s;

}

.menu-bar-one.menu-bar-selected {
    width: 10px;
    opacity: 1;
    transition:  .4s;

}

.menu-bar-two {
    width: 16px;
    height: 2px;
    margin-bottom : 2px;
    background: #414141;
    opacity: 0.4;
    transition: 0.4s;
}

.menu-bar-two.menu-bar-selected {
    width: 13px;
    opacity: 1;
    transition: 0.4s;
}

.menu-bar-three {
    width: 10px;
    height: 2px;
    background: #414141;
    opacity: 0.4;
    transition: 0.4s;
}

.menu-bar-three.menu-bar-selected {
    width: 16px;
    opacity: 1;
    transition: 0.4s;
}

.selection-description {
    width: 140px;
    height:40px;
    margin: 5px 0 0 24px;
    padding-top: 12px;
}

.selection-description a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 0.4;
    transition: 0.4s;
}


.selection-progress {
    width: 18px;
    height:18px;
    border-radius: 50%;
    border: 2px solid #ffb600;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 10px;

    
}

.selection-progress-img.selection-progress-img-show{
    margin-top: 14px;
    margin-left: auto;
    margin-right: 16px;
    width: 20px;
    height:30px;
    background: transparent url("../img/badge.png") 0% 0% no-repeat;
    background-size: 20px;
}

.no-scroll {
    height: 100%; 
    overflow: hidden; 
}

.button-div{
    display: none;
}

.button-div.button-show{
    display: block;
    margin-top: 8px;
    margin-left: auto;
    margin-right: 30px;
    border-radius: 50%;
}

.button-div.button-show:hover{
    cursor: pointer;
}

.button-text {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #212121;
    opacity: 0.5;
    text-align: center;
}

.button-text:hover {
    color: #ffb600;
    transition: 0.4s;
}

.button-img {
    width: 20px;
  height: 20px;
   margin: 0 auto;
  background: transparent url("../img/icon-arrow.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 20px;
} 

.introduction-content-section-title {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.introduction {
    display: flex;
    margin-left: 10%;
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.4s  ease-in;
}


.introduction.introduction-hide {
    opacity: 0;
    max-height: 0px;
    transform: translateY(20px);
    transition: 0.4s  ease-in;
}

.introduction-content-section-title h1 {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    color: #2d363a;
}

.introduction-content-section-title p {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #000;
    opacity: 0.4;
}

.introduction-description-text {
    max-width: 300px;
    padding: 16px 8px;
}

.sees-you {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    font-style: italic;
    color: #ffb600; 
}



.stryker-img {
    width: 200px;
     height: 60px;
     background: transparent url("../img/logo-stryker.svg") 0% 0% no-repeat
       padding-box;
     opacity: 1;
     background-size: 200px;
     margin-top: 300px;
     margin-right: 180px;
     border-bottom: 5px solid #ffb600;
   }

.subtopic-div-container {
    margin-top: 12px;
}

.subtopic-div {
  display: flex;
  padding: 12px 0px 12px 0px;
}

.subtopic-div-bottom {
    /* background: blue; */
    margin-bottom: 16px;
}


.subtopic1-text {
    padding: 0;
    margin-left: 54px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-style: italic;
    opacity: 0.3;
    color: #212121; 
}

.subtopic2-text {
    padding: 0;
    margin-left: 54px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-style: italic;
    opacity: 0.3;
    color: #212121; 
}

.subtopic1-text-color {
    opacity: 1.0;
}

.subtopic-material-text {
    opacity: 0;
}


.subtopic-material-div {
    display: flex;
    flex-direction: column;
}

.competencies-title-btns-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
}

.compentencies-title-div {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #ffb600;
    margin-bottom: 16px;
}

.competencies-btns-div {
    display: flex;
}

.btn-div {
    display: flex;
    width: 100%;

}

.btn-text {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000;
    opacity: 0.4;
    margin-left: 8px;
    margin-top: 6px;
}

.btn-text:hover {
    cursor: pointer;;
}

.btn-img:hover {
    cursor: pointer;

}

#independent-btn-img {
    width: 25px;
    height: 50px;
    background: transparent url("../img/pwr-btn.png") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 25px;
    transition: 0.3s;
}

#independent-btn-img:hover {
    width: 25px;
    height: 50px;
    background: transparent url("../img/pwr-btn-on.png") 0% 0% no-repeat
      padding-box;
      background-size: 25px;
   transition: 0.3s;
}

#with-help-btn-img {
    width: 25px;
    height: 50px;
    background: transparent url("../img/pwr-btn.png") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 25px;
    transition: 0.3s;
}


#with-help-btn-img:hover {
    width: 25px;
    height: 50px;
    background: transparent url("../img/pwr-btn-off.png") 0% 0% no-repeat
      padding-box;
    background-size: 25px;
    transition: 0.3s;
}


.subtopic-div p:hover {
    cursor: pointer;
   opacity: 1;
   transition: 0.3s;
}


