* {
    margin: 0;
    padding: 0;
  }
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

.navbar{
    display: flex;
  position: fixed;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 5px #0000001a;
    opacity: 1;
    z-index: 9999;
}

.stryker-logo {
    width: 120px;
  height: 30px;
  margin-top: 19px;
  margin-left: 30px;
  background: transparent url("../img/logo-stryker.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 90px;
}

.info-content-container {
    display: flex;
    margin-top: 60px;
    width: 100%;
}

.info-container{
    position: fixed;
    width: 280px;
    height: 738px;
    background: #F7F7F7;
    box-shadow: 3px 0 10px 0px rgba(0, 0, 0, 0.4)



}

.avatar-div {
    margin: 0 auto;
    margin-top: 16px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid #ffb600;;
    background: transparent url("../img/nurse.png") 100% 0% no-repeat;
    background-size: 170px;
}

.avatar-info-text {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    margin-top: 8px;
    font-style: italic;
    color: #212121;
    opacity: 0.5;
    text-align: center;
}

.content-container {
    margin-left: 280px;
    width: 100%;
  
}

.fade-in {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    min-height: 100vh;
    height: auto;
}


.content-section-title h1 {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    color: #2d363a;
}

.content-section-title {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 32px 16px 32px 16px;
    text-align: center;
    text-decoration: none;
    
}

.content-section-title p {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #000;
    opacity: 0.4;
}

.content-section-progress-bar-div {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 3px;
    background: #f7f7f7;

}

.content-section-progress-bar {
    width: 67%;
    height: 3px;
    border-radius: 1px;
    background: #ffb600; 
}

/* .video-pdf-div {
    display: flex;
    flex-direction: row;
    height: 100%;
} */

.video-div {
    display: flex;
    width: 345px;
    flex-direction: column;
    margin-left: 10%;;
     margin-top: 32px;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.video-div:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.video-text-div {
   min-height: 193px;
    padding: 16px;
    border-top: 3px solid #ffb600;
    background: #F7F7F7;
}

.video-text-div h1{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
 }

 .video-text-div p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #0000008a;
    font-style: italic;
 }

 /* .pdf-div {
   height: 200px;
     width: 50%;
     margin-left: 32px;
     margin-top: 32px;
     background: lightseagreen;
 } */

.selection-container {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    height: 500px;

    
}

.selection-title-div {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

.selection-div {
    display: flex;
    width: 100%;
    height: 60px;
    margin: 3px 0;
}



.selection-div.selection-div-selected{
    border-left: 5px solid #ffb600;
    background: #EAEEF2;
}

.selection-div:hover {
   cursor: pointer;
    background: #EAEEF2;
}

.menu-icon {
    width: 16px;
    height:16px;
    margin: 22px 0 0 16px;

}

.menu-icon.menu-icon-selected {
    margin-left: 11px; 
}

.menu-bar-one {
    width: 13px;
    height: 2px;
    margin-bottom: 2px;
    background: #414141;
    opacity: 0.4;

}

.menu-bar-one {
    width: 13px;
    height: 2px;
    margin-bottom: 2px;
    background: #414141;
    opacity: 0.4;

}

.menu-bar-one.menu-bar-selected {
    width: 10px;
    opacity: 1;
    transition:  .4s;

}

.menu-bar-two {
    width: 16px;
    height: 2px;
    margin-bottom : 2px;
    background: #414141;
    opacity: 0.4;
}

.menu-bar-two.menu-bar-selected {
    width: 13px;
    opacity: 1;
    transition: 0.4s;
}

.menu-bar-three {
    width: 10px;
    height: 2px;
    background: #414141;
    opacity: 0.4;
}

.menu-bar-three.menu-bar-selected {
    width: 16px;
    opacity: 1;
    transition: 0.4s;
}

.selection-description {
    width: 140px;
    height:40px;
    margin: 5px 0 0 24px;
    padding-top: 12px;
}

.selection-description a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 0.4;
}

.selection-description.selection-description-selected a{
    opacity: 1;
    transition: 0.4s;
   
}

.selection-progress {
    width: 18px;
    height:18px;
    border-radius: 50%;
    border: 2px solid #ffb600;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 10px;

    
}

.selection-progress-img{
    margin-top: 19px;
    margin-left: auto;
    margin-right: 8px;
    width: 20px;
    height:20px;
    background: transparent url("../img/checkmark.png") 0% 0% no-repeat;
    background-size: 20px;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.no-scroll {
    height: 100%; 
    overflow: hidden; 
}

.button-div{
    display: none;
}

.button-div.button-show{
    display: block;
    margin-top: 8px;
    margin-left: auto;
    margin-right: 30px;
    border-radius: 50%;
}

.button-div.button-show:hover{
    cursor: pointer;
}

.button-text {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #212121;
    opacity: 0.5;
    text-align: center;
}

.button-text:hover {
    color: #ffb600;
    transition: 0.4s;
}

.selection-description-selected{
    color: #212121;
}



.button-img {
    width: 20px;
  height: 20px;
   margin: 0 auto;
  background: transparent url("../img/icon-arrow.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 20px;
} 

.introduction-content-section-title{
   /* margin: 0 auto;
   background: red; */
}

.introduction-content-section-title h1 {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    color: #2d363a;
}

.introduction-content-section-title p {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #000;
    opacity: 0.4;
}

.introduction-description-text {
    max-width: 300px;
    padding: 16px 8px;
}

.sees-you {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    font-style: italic;
    color: #ffb600; 
}

.tower-img {
 width: 400px;
  height: 700px;
  background: transparent url("../img/tower-img.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 500px;
  margin-top: 36px;
}

.subtopic-div {
    width: 100%;
    height: 0;
    background: lightblue;
    transition: all ease-in-out 0.3s;
}

.subtopic-div.subtopic-div-show {
    height: 60px;
    transition: all ease-in-out 0.3s;
}

#introduction {
    display: flex;
    align-items: center;
    justify-content: center;
}